{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8 mx-auto">
                  <div class="site-heading" style="padding-bottom: 30px; padding-top: 100px;">
                    <img class="rounded-circle account-img"  style="width: 120px;" src="{{ user.profile.image.url }}">
                      <h1></h1><span class="subheading">Join ACE Students Hub</span></div>
              </div>
          </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter your details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login'%}">Log in</a>
            </small>
        </div>
    </div>
{% endblock content %}
