
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
      <header class="masthead" style="background-image:url('https://media.giphy.com/media/kQuOMTeadVK24/giphy.gif');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>About</h1>
                </div>
            </div>
        </div>
      </header>
      <div class="container" >
        <body>
            <p class='post-meta'>
                Competitve programming makes everything seem super standardized but in real coding they actually aren't.
                So Prashant and Vijay decided to do various coding challenges which are more "To real life" ... trying out various Mathematical and Computational wonders.
                This blog is basically a place where we post our attempts and research as a documentation.    
            </p>
            <br>
            <div>
            <div class="github-card" data-github="itspacchu" data-width="400" data-height="" data-theme="default"></div>
            <div class="github-card" data-github="manbonpan" data-width="400" data-height="" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</div>
            

{% endblock content %}

