
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
      <header class="masthead" style="background-image:url('https://images.pexels.com/photos/3964574/pexels-photo-3964574.jpeg?cs=srgb&dl=coloured-brick-wall-3964574.jpg&fm=jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Challenges</h1>
                        <p> Series of challenges done by Prashant and Vijay</p>
                </div>
            </div>
        </div>
      </header>
      <div class="container" >
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            {% for post in posts %}
              <div class="post-preview">
                <a href="#">
                    <h2 class="post-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                </a>
                <p class="post-meta">  Posted in <a style="color:#616161" href="{% url 'tag-view' post.tag %}"><i>#{{ post.tag }}</i></a> by <a style="color:#616161" class = "post-meta" href="{% url 'user-view' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"F d , Y" }}</p>
              </div>
            <hr> 
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock content %}

