{% extends "blog/base.html" %}
{% load static %}
{% block content %}

{% if post.postimg %}
      <header class="masthead" style="background-image:url('{{ post.postimg.url }}');">
{% else %}
      <header class="masthead" style="background-image:url('https://images.pexels.com/photos/1033177/pexels-photo-1033177.jpeg?cs=srgb&dl=white-and-gray-concrete-floor-1033177.jpg&fm=jpg');">
{% endif %}

  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
              <div class="site-heading">
                  <h1>{{ post.title }}</h1>
                  <p class="post-meta">Posted by  <a style="color:#ffffff" class = "post-meta" href="{% url 'user-view' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"F d , Y" }}</p>
                  <hr>
                  <p> {{ post.content }}</p>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <!---<img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">-->
      <!--<p>{{ post.content|safe }}</p>
 
      {% if post.postimg %}
      <div><img src={{ post.postimg.url }} width=80% height=auto></div>
      {% endif %}
      {% if object.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' object.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      {% endif %}
      <hr> 
      <div>
         Comments -->
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'add_comment_to_post' pk=post.pk %}">Add your own entry</a>
        <p> Total no of Entries {{ post.comments.all|length }}</p>
        <br>
        {% for comment in post.comments.all %}
            <div class="comment">
                
                <h2 class='font-bold'>"{{ comment.microtext }}" - <i><a style="color:#424242" href="{% url 'user-view' comment.author %}"><u>{{ comment.author }}</u></a></i>  </h2>
                <div class="post-meta">{{ comment.created_date }}</div>
                <p>{{ comment.text|safe }}</p>
                {% if comment.commentimg %}
                <div><img src={{ comment.commentimg.url }} width=75% height=auto></div>
                {% endif %}
                <br>
                <hr>
                <br>
            </div>
        {% empty %}
            <h1> No one posted yet ... welp!</h1>
        {% endfor %}
      </div>
{% endblock content %}
